.fullpage{
    background-color: lightblue;
    
    
}

.orders{
    background-color: red;
    margin-top: 50;
    
}

.roworder{
  
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.order{
    background-color: royalblue;
    color: brown;
    display: none;
    
}


.allorder {
    background-color: darkkhaki;
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paginationBttns{
    margin-top: 10px;
}