.fullpage{
    background-color: lightblue;
    
    
}

.orders{
    background-color: red;
    
}

.roworder{
    background-color: royalblue;
    color: brown;
    
}

.order{
    background-color: royalblue;
    color: brown;
    display: none;
}
.paginationBttns {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    color: maroon;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: maroon;
}

.paginationActive a {
    color: white;
    background-color: maroon;
}

.paginationDisabled a {
    color: lightgoldenrodyellow;
    background-color: grey;
}

.allorder {
    background-color: darkkhaki;
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
