.order{
    display: grid;
    margin: 10px;
    max-width: 30rem;
    border-radius: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    
    color:black;
    
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 1rem;
    width: auto;
}



.cardClass{
    
    display: flex;
    
}