.main{

}
.form{
    margin-bottom: 50px;
    margin-top: 50px;
}
.col1{
    margin-left: 240px;
    margin-top: 20px;
}
.input1{
    width: 300px;
    height: 35px;
    
}
.input2{
    width: 300px;
    height: 35px;
    margin-right: 50px;
}
.col2{
    margin-top: 20px;
    margin-right: 190px;
}

.queryOrder{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 5rem;
}

.filter{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1rem;
    margin-top: 1rem;
}

.formGroup{
    margin-top: 1rem;
    margin-left: auto;
}

.formGroup1{
    margin-top: 1rem;
    margin-left: auto;
}

.filterButton{
    margin-left: auto;
    margin-top: 1rem;
    
}

.filterOrders{
    /* background-color: blue; */
    display: flex;
}